<template>
  <div class="home">
    <record-gps />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import RecordGps from "@/components/RecordGps.vue";

export default Vue.extend({
  name: "Home",
  components: {
    RecordGps
  }
});
</script>
