<template>
    <v-container>
        <button ref="startRecording" v-if="!recording" @click="startRecording()">
          Start recording
        </button>
        <button ref="stopRecording" v-if="recording" @click="stopRecording()">
          Stop recording
        </button>

        <div v-if="!recording" ref="notRecording">
          not recording
        </div>
        <div v-if="recording" ref="recording">
          recording
        </div>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
//import Worker from 'worker-loader!../scripts/recordGps.worker.ts';
export default Vue.extend({
  name: "Home",
  data: function() {
    return {
      worker: null,
      recording: false
    }
  },
  methods: {
    startRecording(): void {
      this.recording = true;
      console.log("start recording gps");
      /*const worker = new Worker();

      worker.postMessage({ start: true });
      worker.onmessage = (event) => { console.log(event) };

      //worker.addEventListener('message', (event) => {});*/
    },
    stopRecording(): void {
      this.recording = false;
      console.log("stop recording gps");
    }
  }
})
</script>

<style lang="scss" scoped>

</style>